
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Kanit", sans-serif;
    background-color: #F9F9F9;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.disable-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
.extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.bold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.button-color {
    background-color: #D53177;
}

.background-color {
    background-color: #133D94;
}

.font-white-color {
    color: white;
}

.font-primary {
    color: #133D94;
}

.font-secondary {
    color: #D53177
}